#vr-container {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #eee;
    overflow: hidden;
    background: rgb(40, 40, 40);

    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

#vr-container canvas {
    width: 100% !important;
    height: 100% !important;
    /*position: absolute;*/
    top: 0;
    left: 0;
}

#vr-container #buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px;
    margin: 8px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.6);
}

#vr-container #buttons > * {
    margin: 0 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

#vr-container #buttons > *:first-child {
    margin-left: 0;
}

#vr-container #buttons > .unsupported {
    display: none;
}

#vr-container #fs-disable {
    display: none;
}